@model CarListModel

<h2 id="sellCarHeading">See all cars here</h2>

<h2>@TempData["message"]</h2>

@foreach (var c in Model.Cars)
{
<div class="well col-xs-12 col-sm-10 col-md-10 col-lg-10 center-block">
    <table class="table-responsive">
        <tr>
            <td class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
                <img src="@c.Images.FirstOrDefault().ImageUrl" class="img-thumbnail img-responsive" />
            </td>
            <td>
                <div class="bg-faded p-1">
                    <h4>
                        @c.Manufacturer  @c.Model
                        <span class="label-info" style="float:right">
                            @c.Price.ToString("c")
                        </span>
                    </h4>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="carId" value="@c.Id" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            Delete
                        </button>
                    </form>
                    <h6>
                        Year:@(c.YearOfProduction) with @(c.TravelledDistance)km. Color:@c.Color Condition: @c.Condition Eurostandart: @c.EuroStandart Engine type: @c.EngineType
                    </h6>
                    <p>
                        @c.SaleDescription
                    </p>
                </div>
            </td>
        </tr>
    </table>
</div>
}
