@model Car

@{
    ViewData["Title"] = Model.Manufacturer + " " + Model.Model + " " + Model.YearOfProduction;
}

<h1 class="text-center">Car Details</h1>

<div class="col-md-8 col-md-offset-2 details-page-heading">
    <div class="pull-left">
        <h3>@Model.Manufacturer @Model.Model</h3>
    </div>
    <div class="p-r">
        <h3>&euro; @Model.Price</h3>
        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </p>
    </div>
</div>

<div class="col-md-8 details-images text-center">
    @if (Model.Images.Count <= 0)
    {
        <img src="~/images/not-found.png" class="col-md-4 details-img clearfix" alt="No Image">
    }
    else
    {
        @foreach (var image in Model.Images)
        {
            <img src="~/images/@image.ImageUrl" class="col-md-4 details-img clearfix" alt="@Model.Manufacturer @Model.Model">
        }
    }
</div>

<div class="col-md-4 car-details-sidebar single-block">
    <h2 class="title">Specifications</h2>
    <ul>
        <li>
            <span>Make</span>@Model.Manufacturer
        </li>
        <li>
            <span>Model</span>@Model.Model
        </li>
        <li>
            <span>Body Type</span>@Model.BodyType
        </li>
        <li>
            <span>Year</span>@Model.YearOfProduction
        </li>
        <li>
            <span>Condition</span>@Model.Condition
        </li>
        <li>
            <span>Travelled Distance</span>@Model.TravelledDistance km
        </li>
        <li>
            <span>Color</span>@Model.Color
        </li>
        <li>
            <span>Transmission</span>@Model.TypeOfTransmission
        </li>
        <li>
            <span>Engine</span>@Model.EngineType
        </li>
        <li>
            <span>Euro Standart</span>@Model.EuroStandart
        </li>
        <li>
            <span>Horsepower</span>@Model.HorsePower
        </li>
    </ul>
</div>

<div class="details-page-description col-md-12">
    <h3>Description</h3>
    <p>@Model.SaleDescription</p>
</div>

<div class="text-center details-buy-car-btn col-md-12">
    <a class="btn btn-primary" asp-controller="Car" asp-action="Buy" asp-route-id="@Model.Id">Buy this car</a>
</div>