@model Car

@{
    ViewData["Title"] = Model.Manufacturer + " " + Model.Model + " " + Model.YearOfProduction;
}

<h1 class="text-center">Car Details</h1>

<div class="col-md-8 col-md-offset-3 details-page-heading">
    <div class="pull-left">
        <h3>@Model.Manufacturer @Model.Model</h3>
    </div>
    <div class="p-r">
        <h3>&euro; @Model.Price</h3>

        <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </p>
    </div>
</div>

<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-lg-pull-1 details-images text-center">
    @if (Model.Images.Count <= 0)
    {
        <img src="~/images/not-found.png" class="col-md-4 details-img clearfix" alt="No Image">
    }
    else
    {
        @foreach (var image in Model.Images)
        {
            <div class="responsive">
                <div class="gallery">
                    <img src="~/images/@image.ImageUrl" class="details-img" alt="@Model.Manufacturer @Model.Model">
                </div>
            </div>
        }
    }
</div>

<div class="col-md-4 col-lg-pull-1 car-details-sidebar single-block">
    <h2 class="title">Specifications</h2>
    <ul>
        <li>
            <span>Make</span>@Model.Manufacturer
        </li>
        <li>
            <span>Model</span>@Model.Model
        </li>
        <li>
            <span>Body Type</span>@Model.BodyType
        </li>
        <li>
            <span>Year</span>@Model.YearOfProduction
        </li>
        <li>
            <span>Condition</span>@Model.Condition
        </li>
        <li>
            <span>Travelled Distance</span>@Model.TravelledDistance km
        </li>
        <li>
            <span>Color</span>@Model.Color
        </li>
        <li>
            <span>Transmission</span>@Model.TypeOfTransmission
        </li>
        <li>
            <span>Engine</span>@Model.EngineType
        </li>
        <li>
            <span>Euro Standart</span>@Model.EuroStandart
        </li>
        <li>
            <span>Horsepower</span>@Model.HorsePower
        </li>
    </ul>
</div>

<div class="details-page-description col-md-12">
    <h3>Description</h3>
    <p>@Model.SaleDescription</p>
</div>

<div class="text-center details-buy-car-btn col-md-12">
    <a class="btn btn-primary" asp-controller="Car" asp-action="Buy" asp-route-id="@Model.Id">Buy this car</a>
</div>

@if (User.IsInRole("Moderator"))
{
    <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 details-btns">
        <a class="btn btn-warning btn-md edit-car-all-btn" asp-controller="Car" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger btn-md delete-car-all-btn" asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
}

<div class="text-center col-md-12">
    @if (!Model.Comments.Any())
    {
        <p class="no-comments">There are no comments for @Model.Manufacturer @Model.Model!</p>
    }
    else
    {
        @foreach (var comment in Model.Comments)
        {
            @if (comment.ParentCommentId == null)
            {
                <div class="comment col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    <p class="author">
                        <span class="authorName">
                            @comment.Author.UserName said:
                        </span>
                        @if (User.IsInRole("Moderator"))
                        {
                            <button data-commentId="@comment.Id" class="btn btn-danger delete-comment-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        }
                    </p>
                    <p class="content"><span class="content-text">@comment.Content</span></p>

                    @foreach (var subCom in Model.Comments)
                    {
                        @if (subCom.ParentCommentId == comment.Id)
                        {
                            <div class="reply col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                                <hr />
                                <p class="replier">
                                    <span class="reply-author">
                                        @subCom.Author.UserName replied:
                                    </span>
                                    @if (User.IsInRole("Moderator"))
                                    {
                                        <button data-commentId="@subCom.Id" class="btn btn-danger delete-comment-btn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    }
                                </p>
                                <p><span class="reply-content">@subCom.Content</span></p>
                            </div>
                        }
                    }

                    <div class="reply-form">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <form asp-controller="Car" asp-action="AddComment" asp-route-carId="@Model.Id" asp-route-parentCommentId="@comment.Id">
                                <input required id="content" type="text" name="content" placeholder="Reply..." />
                                <button class="btn-info" type="submit" value="Reply">Reply</button>
                            </form>
                        }
                    </div>
                </div>
            }
        }
    }


    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 comment-form ">
            <form asp-controller="Car" asp-action="AddComment" asp-route-carId="@Model.Id">
                <input required size="45" id="content" type="text" name="content" placeholder="Comment...">
                <button class="btn-info" type="submit" value="Comment">Comment</button>
            </form>
        </div>
    }
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/delete-comment.js"></script>