@model UserAndRolesModel

@{
    ViewData["Title"] = Model.User.UserName + " Details";
}

<h1 class="text-center all-users col-lg-12 col-md-12 col-sm-12 col-xs-12">Details for user</h1>
<h2 class="text-center details-info">@Model.User.UserName</h2>

@if (Model.Roles.Any())
{
    <h3 class="text-center all-users col-lg-12 col-md-12 col-sm-12- col-xs-12">User is in roles</h3>

    @foreach (var role in Model.Roles)
    {
        <h4 class="text-center details-info col-lg-12 col-md-12 col-sm-12- col-xs-12">@role</h4>
    }
}

<h3 class="text-center all-users">Edit user roles</h3>

<form class="text-center details-info col-lg-12" method="post" asp-controller="Account" asp-action="ManageRoles">
    <input type="hidden" name="userId" value="@Model.User.Id" />

    @foreach (var role in Model.AllRoles)
    {
        <div class="form-check">
            <label for="@(role.Text + "Role")">@role.Text</label>
            <input id="@(role.Text + "Role")" type="checkbox" name="roles" value="@role.Text" />
        </div>
    }

    <button class="btn-warning" type="Submit">Edit</button>
</form>